.drop-file-input {
  display: flex;
  width: 200px;
  height: 100px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.drop-file-input input {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  font-weight: 600;
}

.drop-file-input__label img {
  width: 100px;
}

.loaderStyle {
  text-align: "center";
  justify-content: "center";
  align-items: "center";
  flex: 1;
}
